.UBPDHeader{
  background: var(--aguamarina) url('./assets/fondo_intranet.svg') center no-repeat;
  background-size: cover;
  @media(--mobile){
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 50;
  }
  &-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto ;
    padding: 30px 0;
    @media(--tablet){
      padding: 3vw 5vw;
    }
    @media(--mobile){
      padding: 1vh 5vw;
      flex-direction: row-reverse;
    }
    &-logo{
      & img{
        width: 280px;
        @media(--tablet){
          width: 20vw;
        }
        @media(--mobile){
          height: 10vh;
          width: auto;
        }
      }
    }
    &-cont{
      width: max-content;
      margin: 0 auto;
      padding: 0 2px;
      &-titulo{
        width: 250px;
        @media(--mobile){
          width: auto;
          height: 3.5vh;
        }
      }
    }
    &-search{
      position: relative;
      width: 350px;
      @media(--tablet){
        width: 30vw;
      }
      @media(--mobile){
        display: none;
      }
      &-mobile{
        display: none;
        @media(--mobile){
          display: block;
          width: 90vw;
          margin: 0 auto;
          margin-bottom: 5vh;
        }
      }
      & a{
        width: 100%;
        text-align: right;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--texto);
        font-weight: var(--regular);
      }
      &-input{
        box-sizing: border-box;
        font-family: var(--texto);
        font-weight: var(--regular);
        color: var(--gris);
        font-size: 14px;
        padding: 6px 40px 6px 16px;
        width: 100%;
        border: 1px solid var(--gris);
        border-radius: 8px;
        @media(--tablet){
          font-size: 1.3vw;
          padding: .7vw 3.7vw .6vw 1.4vw;
          border-width: .1vw;
          border-radius: 1vw;
        }
        @media(--mobile){
          font-size: 4.5vw;
          padding: 1.5vw 10vw 1.5vw 2vw;
          border-width: .2vw;
          border-radius: 1vw;
        }
        &:focus, &:focus-visible{
          border: 2px solid var(--azulclaro);

        }
      }
      &-button{
        background: transparent url('./assets/lupa.svg') center no-repeat;
        background-size: contain;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 0;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        width: 25px;
        height: 100%;
        right: 4px;
        min-width:0;
        padding:0;
        @media(--tablet){
          width: 2vw;
          height: 2vw;
          right: .4vw;
        }
        @media(--mobile){
          width: 7vw;
          right: 1vw;
        }
      }
      & div{
        position: relative;
      }
    }
  }
  &-button{
    display: none;
    @media(--mobile){
      min-width:0;
      padding:0;
      background-color:transparent;
      display: block;
      height: 8vh;
      border: none;
      background-color: transparent;
      &-close{
        display: none;
      }
      & img{
        height: 100%;
      }
      &.opened{
        & .UBPDHeader-button-open{
          display: none;
        }
        & .UBPDHeader-button-close{
          display: block;
        }
      }
    }
  }
}