.UBPDNav{
  width: 1280px;
  position: relative;
  background-color: #f6f8f9;
  border-bottom: 1px solid var(--color_texto_claro);
  padding: 0 calc(50vw-640px);
  box-sizing: content-box;
  @media(--desktop){
    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  @media(--tablet){
    width: 90vw;
    padding: 0 calc(5vw);
  }
  @media(--mobile){
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 12vh;
    left: 0;
    z-index: 50;
    border-bottom: none;
    height: 0;
    transition-duration: 1s;
    &.opened{
      height: 88vh;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
          display: none;
      }
      & .UBPDNav-button-open{
        display: none !important;
      }
      & .UBPDNav-button-close{
        display: block !important;
      }
      & .UBPDNav-menu{
        height: auto;
      }
      
    }
  }
  &.fixed{
    position: fixed;
    top: 0;
    z-index: 50;
    @media(--mobile){
      top: 12vh;
    }
  }
  
  &-menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0;
    @media(--tablet){
      padding: .0.9vw 0;
    }
    @media(--mobile){
      flex-direction: column;
      height: auto;
      padding-top: 5vh;
      align-items: center;
    }
    &-item{
      position: relative;
      flex: inherit;
      max-width: 300px;
      text-align: left;
      list-style: none;
      align-items: center;
      display: flex;
      padding: 0 28px;
      border-right: solid 2px var(--color_texto_claro);
      @media(--tablet){
        padding: 0 2vw;
      }
      @media(--mobile){
        width: 100vw;
        max-width: none;
        min-height: 10vh;
        box-sizing: border-box;
        padding: 0 15vw;
        justify-content: center;
        flex-direction: column;
      }
      &:first-of-type{
        border-left: solid 2px var(--color_texto_claro);
      }
      &.opened, &[aria-expanded="true"], &:focus-within{
        & .UBPDNav-menu-item-corner{
          transform: rotateZ(180deg);
          top: 4vw;
        }
        & .UBPDNav-menu-item-submenu{
          max-height: 200vh;
        }
      }
      &-corner{
        display: none;
        @media(--mobile){
          position: absolute;
          display: block;
          right: 10vw;
          top: 4.5vh;
          border-left: 2vw solid transparent;
          border-right: 2vw solid transparent;
          border-top: 2vw solid var(--gris);
        }
      }
      & a{
        font-family: var(--texto);
        font-weight: var(--regular);
        text-align: left;
        color: var(--color_texto_claro);
        display: block;
        line-height: 1.3;
        font-size: var(--fuente0);
        @media(--tablet){
          font-size: var(--fuente0_tablet);
        }
        @media(--mobile){
          font-size: var(--fuente0_mobile);
          color: var(--aguamarina);
          font-weight: var(--bold);
          padding: 2vw 5vw;
        }
        &:hover{
          text-decoration: none;
        }
      }
      &-submenu{
        position: absolute;
        left: 0;
        top: 100%;
        overflow: hidden;
        max-height: 0;
        background-color: #f6f8f9;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-template-rows: repeat(auto-fit,minmax(35px,1fr));
        width: max-content;
        z-index: 100;
        min-width: 178px;
        grid-auto-flow: column;
        padding: 0;
        @media(--tablet){
          padding-top: 1vw;
        }
        @media(--mobile){
          position: relative;
          background-color: transparent;
          transition-duration: .5s;
          padding-top: 0;
          display: flex;
          flex-direction: column;
        }
        &>.UBPDNav-menu-item{
          padding: 8px 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          & a{
            font-family: var(--texto);
            font-weight: var(--regular);
            font-weight: var(--medium);
            text-align: center;
            color: var(--color_texto_claro);
            font-size: var(--fuente0);
            max-width: 300px;
            padding: 5px 0;
            min-height: max-content;
            @media(--tablet){
              font-size: var(--fuente0_tablet);
            }
            @media(--mobile){
              font-size: var(--fuente0_mobile);
              font-weight: var(--regular);
              color: var(--color_texto_claro);
            }
          }
          &:hover{
            background-color: #6aa4a933;
          }
        }
      }
      &:nth-last-child(-n+3){
        & .UBPDNav-menu-item-submenu{
          left: auto;
          right: 0;
        }
      }
      @media(--desktop){
        &:hover, &:focus-within, &:active, &[aria-expanded="true"]{
          & .UBPDNav-menu-item-submenu{
            max-height: calc(100vh - 180px);
            padding: 12px 0 0 0;
          }
        }
      }
    }
  }
}