.UBPDNews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding: 12px 0;
  flex-wrap: wrap;
  @media(--tablet){
    width: 90vw;
    padding: 1vw 0;
  }
  @media(--mobile){
    flex-direction: column;
    width: 90vw;
  }
  &-item{
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    transition-duration: 1s;
    margin: 0 0 var(--fuente3) 0;
    &:hover{
      transform: scale(1.005);
    }
    &:hover &-image{
      &>img{
        filter: grayscale(0); 
      }
      &::before{
        opacity: 0;
      }
    }
    &:focus-within{
      border: solid #000 1px;
    }
    & a:hover{
      text-decoration: none;
    }
    @media(--tablet){
      width: 28.5vw;
      margin: 0 0 var(--fuente3_tablet) 0;
    }
    @media(--mobile){
      width: 90vw;
      margin: var(--fuente1_mobile) auto;   
    }
    &-image{
      width: 385px;
      height: 233px;
      object-fit: cover;
      display: block;
      border-left: 14px solid var(--newscolor);
      position: relative;
      z-index: 3;
      @media(--tablet){
        width: 29.6vw;
        height: 16.31vw;
      }
      @media(--mobile){
        width: 90vw;
        height: 50.6vw;
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--newscolor);
        z-index: 5;
        opacity: .5;
        transition: .5s;
      }
      &>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1); 
      } 
    }
    &-content{
      padding: 15px 0;
      @media(--tablet){
        padding: 1vw 0;
      }
      @media(--mobile){
        padding: 2vw 0;
      }
      &-title{
        font-family: var(--texto);
        font-weight: var(--black);
        color: var(--azul_oscuro);
        box-sizing: border-box;
        font-size: var(--fuente2);
        line-height: 1.2;
        min-height: calc(var(--fuente2) * 2.5);
        margin: 0;
        transition-duration: .5s;
        @media(--tablet){
          font-size: var(--fuente2_tablet);
          min-height: calc(var(--fuente2_tablet) * 2.5);
        }
        @media(--mobile){
          font-size: var(--fuente2_mobile);
          min-height: auto;
          padding: 1vw 0;
        }
      }
      &-date{
        font-family: var(--texto);
        font-weight: var(--bold);
        color: var(--color_texto_claro);
        font-size: var(--fuente0);
        margin: 0;
        padding-bottom: var(--fuente-3);
        text-align: end;
        @media(--tablet){
          font-size: var(--fuente0_tablet);
          padding-top: var(--fuente-3_tablet);
        }
        @media(--mobile){
          font-size: var(--fuente-1_mobile);
          padding: 0;
        }
      }
      &-text{
        font-family: var(--texto);
        font-weight: var(--regular);
        color: var(--color_texto);
        margin: 0;
        box-sizing: border-box;
        font-size: var(--fuente0);
        line-height: 1.2;
        padding: var(--fuente-2) 0;
        min-height: calc(var(--fuente0) * 3.75);
        text-align: justify;
        @media(--tablet){
          font-size: var(--fuente0_tablet);
          min-height: calc(var(--fuente0_tablet) * 3.75);
          padding: var(--fuente-2_tablet) 0;
        }
        @media(--mobile){
          font-size: var(--fuente0_mobile);
          min-height: auto;
          padding: var(--fuente-2_mobile) 0;
        }
      }
      &-cont{
        display: flex;
        justify-content: end;
        padding: 5px;
        margin: 5px 0;
        @media(--tablet){
          padding: 1vw;
          margin: 1vw 0;
        }
        @media(--mobile){
          padding: 1vw;
          margin: 1vw 0;
        }
        &-buton{
          background-color: var(--gris);
          color: #000;
          text-transform: uppercase;
          font-family: var(--texto);
          transition-duration: .5s;
          will-change: background-color;
          cursor: pointer;
          border-radius: 300px;
          font-size: 17px;
          padding: 18px 20px;
          margin-right: 20px;
          &:hover{
            background-color: var(--azulclaro);
            color: #fff;
            text-decoration: none;
          }
          &:visited{
            color: #fff !important;
          }
          @media(--tablet){
            font-size: 1.3vw;
            padding: 1.3vw 1.4vw;
            margin-right: 1.4vw;
          }
          @media(--mobile){
            width: max-content;
            font-size: 3.5vw;
            padding: 4.5vw 5vw;
            margin-right: 5vw;
          }
        }
      }
      &-more{
        font-family: var(--texto);
        font-weight: var(--regular);
        margin: 0;
        font-size: var(--fuente0);
        color: var(--aguamarina);
        text-decoration: underline;
        @media(--tablet){
          font-size: var(--fuente-1_tablet);
        }
        @media(--mobile){
          font-size: var(--fuente-1_mobile);
        }
      }
      }
      &-actividades{
        border-radius: 30px;
        border: solid;
        width: max-content;
        margin-top: 20px;
        @media(--tablet){
          margin-top: 1.4vw;
        }
        @media(--mobile){
          margin-top: 5vw;
        }
      }
    }
    &-big{
      @media(--desktop){
        width: 390px;
        & .DNPNews-item-content-title{
          font-size: 23px;
          line-height: 25px;
          min-height: 60px;
        }
        & .DNPNews-item-content-text{
          min-height: 105px;
        }
      }
      @media(--tablet){
        width: 27.5vw;
        & .DNPNews-item-content-title{
          font-size: 1.8vw;
          line-height: 2vw;
          min-height: 5vw;
        }
        & .DNPNews-item-content-text{
          min-height: 9vw;
        }
      }
    }
  &-more{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 auto 20px;
    padding: 12px 0;
    width: 1200px;
    @media(--tablet){
      margin-bottom: 1.4vw;
      width: 85vw;
      padding: 1vw 0;
    }
    @media(--mobile){
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-bottom: 0;
      width: 80vw;
      padding: 0;
    } 
    &-button{
      background-color: var(--azulclaro);
      color: #fff;
      text-transform: uppercase;
      font-family: var(--texto);
      transition-duration: .5s;
      will-change: background-color;
      cursor: pointer;
      border-radius: 300px;
      font-size: 17px;
      padding: 10px 19px;
      &:hover{
        background-color: var(--azulclaro);
        color: #fff;
        text-decoration: none;
      }
      &:visited{
        color: #fff !important;
      }
      @media(--tablet){
        font-size: 1.3vw;
        padding: 0.9vw 1.7vw;
      }
      @media(--mobile){
        width: max-content;
        font-size: 3.5vw;
        padding: 1.7vw 3.5vw;
        margin-bottom: 3vw;
      }
    }
  }
}