.UBPDPager, .UBPDPager .nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  width: 100%;
  max-width: 1280px;
  @media(--tablet){
    padding: 2.5vw 0;
    max-width: 90vw;
  }
  @media(--mobile){
    max-width: 90vw;
    padding: 5vw 0;
  }
  &-prev, &-next, & .nav-previous, & .nav-next{
    width: 120px;
    margin: 0 var(--fuente0);
    text-align: center;
    @media(--tablet){
      width: 8.6vw;
      margin: 0 var(--fuente0_tablet);
    }
    @media(--mobile){
      width: 30vw;
      margin: 0 var(--fuente0_mobile);
    }
    & a{
      color: var(--azul_oscuro);
      font-family: var(--texto);
      font-weight: var(--regular);
      font-size: var(--fuente0);
      text-decoration: underline;
      @media(--tablet){
        font-size: var(--fuente0_tablet);
      }
      @media(--mobile){
        font-size: var(--fuente0_mobile);
      }
      &:hover{
        color: var(--morado);
      }
    }
  }
  &-numbers{
    color: var(--azul_oscuro);
    font-family: var(--texto);
    font-weight: var(--regular);
    font-size: var(--fuente0);
    margin: 0;
    @media(--tablet){
      font-size: var(--fuente0_tablet);
    }
    @media(--mobile){
      font-size: var(--fuente0_mobile);
    }
  }
}